<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Device Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>

    <!-- Header section -->
    <div class="header">
        <div class="header-item">
            <a href="/">Server</a>
        </div>
        <div class="header-item">
            <a href="/device">Device</a>
        </div>
        <div class="header-item">
            <a href="/logout/">Log out</a>
        </div>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
        <form action="/apps/{{ server.id }}/" method="get" class="search-container">
            {% if name %}
                <input type="text" class="search-bar" value="{{name}}" name="name" placeholder="Search">
            {% else %}
                <input type="text" class="search-bar" placeholder="Search" name="name">
            {% endif %}
            <button class="search-button">&#128269;</button>
        </form>
    </div>
    <h4 style="max-width: 800;">Server Info</h4>
    <div class="server-details">
        <ul>
            <li><strong>Server Name:</strong> {{server.name}}</li>
            <li><strong>Server IPv4:</strong> {{server.ipv4}}</li>
            <li><strong>Server Username:</strong> {{server.username}}</li>
            <li><strong>Server Password:</strong> {{server.password}}</li>
            <li><strong>Server SSH PORT:</strong> {{server.ssh_port}}</li>
        </ul>
    </div>
    <h4 style="max-width: 800;">Server Performance</h4>
    <div class="server-details">
        <ul>
            <li><strong>CPU usage</strong> {{ performance.cpu_usage }}</li>
            <li><strong>DISK usage</strong> {{ performance.disk_usage }}</li>
            <li><strong>NETWORK usage</strong> {{ performance.network_usage }}</li>
            <li><strong>RAM usage</strong> {{ performance.ram_usage }}</li>
        </ul>
    </div>

    <!-- Button to open the Apps Modal -->
    <button id="openFormBtnApp">Add Apps</button>

    <!-- Modal for Apps -->
    <div id="myModalApp" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Apps</h2>

            <form method="POST" id="serverForm" action="/add-apps">
                {% csrf_token %}
                <label for="id_name">Name Run On Server:</label>
                <input type="text" name="name_run_on_server" class="form-control" id="id_name" required>

                <label for="id_ipv4">Port:</label>
                <input type="text" name="port" class="form-control" id="id_ipv4" required>

                <input type="hidden" name="server" value={{server.id}}>
                <input type="hidden" name="company" value={{server.company.id}}>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Server list -->
    <div class="server-list">
        {% for app in apps %}
        <a href="/app-info/{{ app.id }}">
            {% if app.is_active %}
                <div class="server-item green">
            {% else %}
                <div class="server-item red">
            {% endif %}
                    <span class="server-name">{{ app.name_run_on_server }}</span>
                    <span class="server-ip">{{ app.port }}</span>
                </div>
        {% endfor %}
        </a>
    </div>

    <h3 style="margin-top: 30px;">Docker Apps</h3>

    <!-- Button to open the Docker Apps Modal -->
    <button id="openFormBtnDockerApp">Add Docker Apps</button>

    <!-- Modal for Apps -->
    <div id="myModalDockerApp" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Apps</h2>

            <form method="POST" id="serverFormDockerApp" action="/add-docker">
                {% csrf_token %}
                <label for="id_name">Name Run On Docker:</label>
                <input type="text" name="name_run_on_docker" class="form-control" id="id_name" required>

                <label for="id_name">Container Name:</label>
                <input type="text" name="container_name" class="form-control" id="id_name" required>

                <label for="id_ipv4">Port:</label>
                <input type="text" name="port" class="form-control" id="id_ipv4" required>

                <input type="hidden" name="server" value={{server.id}}>
                <input type="hidden" name="company" value={{server.company.id}}>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Server list -->
    <div class="server-list">
        
        {% for app in docker_apps %}
        <a href="/docker-info/{{ app.id }}">
            {% if app.is_active %}
                <div class="server-item green">
            {% else %}
                <div class="server-item red">
            {% endif %}
                    <span class="server-name">{{ app.container_name }}</span>
                    <span class="server-ip">{{ app.port }}</span>
                </div>
        {% endfor %}
        </a>
    </div>

    <!-- Domains section -->
    <div class="domain-list">
        <h3>Domains</h3>
        
        <!-- Button to open the Domains Modal -->
        <button id="openFormBtnDomain">Add Domain</button>

        <!-- Modal for Domains -->
        <div id="myModalDomain" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Add Domain</h2>

                <form method="POST" id="serverFormDomain" action="/add-domain">
                    {% csrf_token %}
                    <label for="id_name">Domain:</label>
                    <input type="text" name="domain" class="form-control" id="id_name" required>

                    <input type="hidden" name="server" value={{server.id}}>
                    <input type="hidden" name="company" value={{server.company.id}}>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="domain-container">
            {% for domain in domains %}
                <div class="domain-item {% if domain.is_valid %}valid{% else %}invalid{% endif %}">
                    <div class="domain-header">
                        <span class="domain-name"><strong>Domain:</strong> {{ domain.domain }}</span>
                    </div>
                    <div class="domain-body">
                        <span class="domain-valid-to"><strong>Validity Period:</strong> {{ domain.valid_to }}</span>
                        <span class="domain-days"><strong>Remaining days:</strong> {{ domain.days }}</span>
                        <span class="domain-ssl">
                            <strong>SSL:</strong> 
                            {% if domain.is_valid %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Error popup (Initially hidden) -->
    <div id="errorPopup" class="error-popup">
        <!-- Error message will be inserted here -->
    </div>

    <script src="{% static 'scripts.js' %}"></script>

</body>
</html>
