{% extends 'base_generic.html'%}

{% block title %}Devices{% endblock %}

<div class="server-list">
    <div class="server-item green">
        <div class="server-item red">

            <span class="server-name">Camera 1</span>
            <span class="server-ip">rtsp://username:password@host/stream</span>
    
        </div>   
        <div class="server-item green">

            <span class="server-name">Camera 2</span>
            <span class="server-ip">rtsp://username:password@host/stream1</span>
    
        </div>   
    </div>
</div>