<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Device Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">

</head>
<body>

    <!-- Header section -->
    <div class="header">
        <div class="header-item">
            <a href="/">Server</a>
        </div>
        <div class="header-item">
            <a href="/device">Device</a>
        </div>
        <div class="header-item">
            <a href="/logout/">Log out</a>
        </div>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
        <form action="/" method="get" class="search-container">
            {% csrf_token %}
            {% if name %}
                <input type="text" class="search-bar" value="{{name}}" name="name" placeholder="Search">
            {% else %}
                <input type="text" class="search-bar" placeholder="Search" name="name">
            {% endif %}
            <button class="search-button">&#128269;</button>
        </form>
    </div>

    <!-- Button to open the modal (form) -->
    <button id="openFormBtn">Add Server</button>

    <!-- Modal (Popup) with form inside -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Server</h2>

            <form method="POST" id="serverForm" action="{% url 'add-server' %}">
                {% csrf_token %}
                <label for="id_name">Server Name:</label>
                <input type="text" name="name" class="form-control" id="id_name" required>

                <label for="id_ssh_port">SSH Port:</label>
                <input type="number" name="ssh_port" class="form-control" id="id_ssh_port" value="22" required>

                <label for="id_ipv4">IPv4 Address:</label>
                <input type="text" name="ipv4" class="form-control" id="id_ipv4" required>

                <label for="id_username">Username:</label>
                <input type="text" name="username" class="form-control" id="id_username" required>

                <label for="id_password">Password:</label>
                <input type="password" name="password" class="form-control" id="id_password" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Server list -->
    <div class="server-list">
        {% for server in servers %}
        <a href="/apps/{{server.id}}/">
            {% if server.is_active %}
                <div class="server-item green">
            {% else %}
                <div class="server-item red">
            {% endif %}
                    <span class="server-name">{{ server.name }}</span>
                    <span class="server-ip">{{ server.ipv4 }}</span>
                </div>
            </a>
        {% endfor %}
    </div>

    <!-- Error popup (Initially hidden) -->
    <div id="errorPopup" class="error-popup">
        <!-- Error message will be inserted here -->
    </div>

    <!-- Success popup (Initially hidden) -->
    <div id="successPopup" class="success-popup">
        <!-- Success message will be inserted here -->
    </div>

    <script src="{% static 'index.js' %}"></script>

</body>
</html>
